@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "RobotoMedium";
  font-style: normal;
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "RobotoBold";
  font-style: normal;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}


body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}


h1 {
  margin: 0;
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: rgba(0, 0, 0, 1);
}

h2 {
  margin: 0;
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 35px;
  line-height: 41px;
  color: rgba(0, 0, 0, 1);
}

h2 {
  margin: 0;
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 35px;
  line-height: 41px;
  color: rgba(0, 0, 0, 1);
}


h3 {
  margin: 0;
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
}


h4 {
  margin: 0;
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}


.gifts__first{
  background-image: url("../img/Малиновый фон.jpg");
  background-repeat: no-repeat;
}

.gifts__second{
  background-image: url("../img/Шоколадный фон.jpg");
  background-repeat: no-repeat;
}

.about{
  background-image: url("../img/Вафля фон.jpg");
  background-repeat: no-repeat;
}

.location{
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.new-news{
  background-image: url("../img/Клубничный фон.jpg");
  background-repeat: no-repeat;
}
